@charset 'utf-8';
@import '../../node_modules/bulma/bulma.sass';
@import 'https://fonts.googleapis.com/css?family=Lato|Montserrat:400,900&display=swap';
@import 'https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap';

html,
body {
  font-family: 'Lato', serif;
  background: orange;
}

.button {
  background-color: #3b323d !important;
  color: white;
  border-color: transparent !important;
}

.button:hover {
  color: orange !important;
}

.emp {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.bvPurp {
  color: #3b323d;
}

.script {
  font-family: 'Homemade Apple', cursive;
}
